---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Home">
    <section
        id="main"
        class="h-screen relative overflow-hidden flex flex-col items-center justify-center bg-cover bg-center bg-no-repeat shadow-[inset_0_0_50em_10em_var(--background)]"
        style="background-image: url('/background.jpg');"
    >
        <h1 class="text-5xl font-bold fira-code z-10">
            <span class="text-orange-500">Elvin</span>Savio
        </h1>
        <p class="text-lg z-10">Software engineer</p>
    </section>

    <section
        class="flex flex-col lg:flex-row items-center justify-center px-2 md:px-10 gap-6 max-w-6xl mx-auto"
    >
        <div class="w-full h-full" id="about">
            <p><span class="text-primary">Name</span>: Elvin Savio</p>
            <p><span class="text-primary">Location</span>: Bengaluru, India</p>
            <p>
                <span class="text-primary">GitHub</span>:
                <a href="github.com/elvinsavio">github.com/elvinsavio</a>
            </p>
            <p>
                <span class="text-primary">Email</span>:
                <a href="mailto:elvinsavio.lp@gmail.com">
                    elvinsavio.lp@gmail.com</a
                >
            </p>
            <p>
                <span class="text-primary">Discord</span>: ShoeTooBig
            </p>
        </div>
        <div class="flex flex-col gap-4">
            <div>
                <h2 class="text-3xl font-bold">About Me</h2>
                <p class="text-lg">
                    I am a software engineer with a passion for <span
                        class="text-primary">building applications</span
                    >. With a background in computer science and hands-on
                    experience in full-stack web development, I thrive on
                    turning ideas into reality through elegant code and
                    innovative solutions.
                </p>
            </div>

            <div>
                <h3 class="text-2xl font-bold">Technical Expertise</h3>
                <p class="text-lg">
                    <ul class="list-disc list-inside space-y-1">
                        <li>
                            <span class="text-primary">Python Development</span
                            >: I am well-versed in Python, using it to develop
                            backend logic and scripting tasks efficiently.
                        </li>
                        <li>
                            <span class="text-primary"
                                >Frontend Technologies</span
                            >: I have a strong command of frontend technologies
                            such as HTML, CSS, and JavaScript, enabling me to
                            create seamless user experiences.
                        </li>
                        <li>
                            <span class="text-primary">Database Management</span
                            >: I am skilled in working with various databases,
                            including PostgreSQL and MySQL, ensuring data
                            integrity and efficient retrieval.
                        </li>
                        <li>
                            <span class="text-primary">Automation</span>: I have
                            experience in automating tasks and processes using
                            Python and bash, streamlining workflows and
                            improving efficiency. <a
                                class="text-primary underline"
                                href="dotfiles">dotfiles</a
                            >
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </section>

    <section
        class="flex flex-col items-center justify-center px-10 gap-6 max-w-6xl mx-auto"
    >
        <h2 class="text-3xl font-bold">Projects</h2>
        <div class="grid grid-cols-1 gap-6">
            <div class="flex flex-col md:flex-row gap-6">
                <div>
                    <a
                        class="underline text-primary cursor-pointer"
                        href="https://classicfiber.info"
                        ><h1 class="text-3xl font-bold">Classic Fiber</h1></a
                    >
                    <img
                        alt="Classic Fiber"
                        class="aspect-video h-[300px] rounded-lg mx-auto shadow-lg bg-amber-50"
                    />
                </div>

                <div>
                    <h1 class="text-3xl font-bold hidden sm:block">&nbsp;</h1>
                    <p>
                        Classic Fiber is a full-stack Django web application
                        built for a car and bike parts business. It features a
                        responsive public-facing product portal, a robust admin
                        dashboard, full-text search, SEO optimization, and
                        accessibility best practices. The app is containerized
                        with Docker and deployed on AWS using PostgreSQL and
                        Tailwind CSS.
                    </p>
                </div>
            </div>
            <div class="flex flex-col md:flex-row-reverse gap-6">
                <div>
                    <a
                        class="underline text-primary cursor-pointer"
                        href="https://github.com/elvinsavio/faht-stack"
                        ><h1 class="text-3xl font-bold">
                            Flask, HTMX, Tailwind, Alpinejs template
                        </h1></a
                    >
                    <img
                        alt="Classic Fiber"
                        class="aspect-video h-[300px] rounded-lg mx-auto shadow-lg bg-amber-50"
                    />
                </div>

                <div>
                    <h1 class="text-3xl font-bold hidden sm:block">&nbsp;</h1>
                    <h1 class="text-3xl font-bold hidden sm:block">&nbsp;</h1>
                    <p>
                        A responsive template built with Flask, HTMX, Tailwind
                        CSS, and Alpine.js. It features a clean and modern
                        design, making it suitable for various web applications.
                        The template is designed to be easily customizable and
                        includes components for navigation, forms, and more.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section
        class="flex flex-col items-center justify-center px-10 gap-6 max-w-6xl mx-auto"
    >
        <h2 class="text-3xl font-bold">Contact</h2>
        <p class="text-lg">
            If you would like to get in touch, feel free to reach out via email
            or connect with me on GitHub or on dicsord.
        </p>

        <h2 class="text-3xl font-bold underline flex items-center gap-2 justify-center">
            <a href="/photography">Photography</a> 
            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 2C2.44772 2 2 2.44772 2 3V12C2 12.5523 2.44772 13 3 13H12C12.5523 13 13 12.5523 13 12V8.5C13 8.22386 12.7761 8 12.5 8C12.2239 8 12 8.22386 12 8.5V12H3V3L6.5 3C6.77614 3 7 2.77614 7 2.5C7 2.22386 6.77614 2 6.5 2H3ZM12.8536 2.14645C12.9015 2.19439 12.9377 2.24964 12.9621 2.30861C12.9861 2.36669 12.9996 2.4303 13 2.497L13 2.5V2.50049V5.5C13 5.77614 12.7761 6 12.5 6C12.2239 6 12 5.77614 12 5.5V3.70711L6.85355 8.85355C6.65829 9.04882 6.34171 9.04882 6.14645 8.85355C5.95118 8.65829 5.95118 8.34171 6.14645 8.14645L11.2929 3H9.5C9.22386 3 9 2.77614 9 2.5C9 2.22386 9.22386 2 9.5 2H12.4999H12.5C12.5678 2 12.6324 2.01349 12.6914 2.03794C12.7504 2.06234 12.8056 2.09851 12.8536 2.14645Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" style="--darkreader-inline-fill: currentColor;" data-darkreader-inline-fill=""></path></svg>
        </h2>
    </section>
</BaseLayout>
